.aboutContainer {
  width: 100%;
  height: 100%;
  padding: 0.8em;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.aboutContainer::-webkit-scrollbar {
  display: none;
}

.textContainer {
  max-width: 500px;
}

.textContainer ul {
  list-style: none;
}

.textBox {
  margin-bottom: 1em;
}
